<div class="container">

  <div class="header-logos">
    <img src="assets/agrosoft.png" class="logo-left">
    <img src="assets/estancia10.png" class="logo-right">
  </div>

  <div class="titulo-section">
    <h1 class="titulo">Sistema Integral de Gestión Ganadera</h1>
    <p class="subtitulo">Seleccione el área de acceso</p>
  </div>

  <div class="roles">

    <!-- PERSONAL DE CAMPO -->
    <div class="card" routerLink="/login/Campo">
      <h2>Personal de Campo</h2>
      <p>Registro de animales, control de peso y nacimientos.</p>
    </div>

    <!-- VETERINARIO -->
    <div class="card" routerLink="/login/Veterinario">
      <h2>Veterinario</h2>
      <p>Gestión sanitaria, vacunación y tratamientos.</p>
    </div>

    <!-- ADMINISTRACIÓN -->
    <div class="card" routerLink="/login/Administración">
      <h2>Administración</h2>
      <p>Gestión de ventas, reportes y estadísticas.</p>
    </div>

  </div>

</div>